body {
	margin: 0;
	padding: 0;
	height: 500px;
	font-size: 16px;
	background-color: #666;
}

section {
	width: 320px;
	border: 1px solid #EEE;
	border-radius: 10px;
	background-color: #EEE;
	margin: 2%;
}

section p {
	margin: 10px;
	font-family: Arial;
}

article {
	border: 1px solid #CACACA;
	width: 95%;
	margin: 30px auto 20px auto;
	background-color: #FFF;
	position: relative;
}

img {
	margin: 5px;
	float: left;
}

article p {
	font-size: 0.7em;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.button-1 {
	margin: 0 0px 5px 42px;
}

.button-2 {
	float: right;
	margin: 0 7px 5px 0;
}

.label-1 {
	position: absolute;
	bottom: 12px;
	right:18px;
	font-family: Arial;
	font-size: 12px;
	color: #FFF;
}

